Checks: '-*
mpi-*
bugprone-*
-bugprone-easily-swappable-parameters
cppcoreguidelines-pro-type-member-init
cppcoreguidelines-slicing
cppcoreguidelines-interfaces-global-init
cppcoreguidelines-pro-type-static-cast-downcast
cppcoreguidelines-narrowing-conversions
google-default-arguments
google-runtime-operator
hicpp-multiway-paths-covered
hicpp-exception-baseclass
misc-unconventional-assign-operator
misc-misplaced-const
misc-new-delete-overloads
misc-non-copyable-objects
misc-throw-by-value-catch-by-reference
misc-uniqueptr-reset-release
modernize-*
-modernize-use-designated-initializers
-modernize-use-trailing-return-type
-modernize-avoid-c-arrays
-modernize-avoid-c-style-cast
-modernize-use-constraints
-modernize-avoid-setjmp-longjmp
-modernize-min-max-use-initializer-list
-modernize-use-std-format
-modernize-use-std-numbers
-modernize-use-scoped-lock
-modernize-type-traits
-modernize-use-std-print
-modernize-use-using
-modernize-use-integer-sign-comparison
-modernize-avoid-variadic-functions
-modernize-use-default-member-init
-modernize-use-ranges
-modernize-use-starts-ends-with
-modernize-macro-to-enum
openmp-exception-escape
performance-*
-performance-noexcept-swap
-performance-noexcept-destructor
-performance-enum-size
-performance-no-int-to-ptr
-performance-avoid-endl
portability-*
readability-avoid-const-params-in-decls
readability-redundant-smartptr-get
readability-make-member-function-const
readability-string-compare
readability-delete-null-pointer
readability-static-accessed-through-instance
readability-convert-member-functions-to-static
readability-redundant-function-ptr-dereference
readability-const-return-type
readability-misleading-indentation
readability-non-const-parameter
readability-redundant-string-cstr
readability-use-anyofallof
readability-simplify-subscript-expr
readability-uniqueptr-delete-release
readability-static-definition-in-anonymous-namespace
readability-redundant-declaration
readability-redundant-string-init
readability-redundant-control-flow
readability-misplaced-array-index
readability-inconsistent-declaration-parameter-name
readability-container-size-empty'
