div.contents p, div.textblock p {
    max-width: 65em;
    text-align: justify;
}
div.contents ul, div.contents ol, div.textblock ul, div.textblock ol {
    padding-left: 2em;
    max-width: 63em;
    text-align: justify;
}
div.fragment div.line {
    line-height: 1.4;
}
/* For some reason, the project name comes out larger than they intend (on MacOS Safari), and it looks bad with the logo. */
#projectname {
    font-size: 40px;
    line-height: 40px;
    padding: 0;
}
#projectbrief {
    font-size: 15px;
    line-height: 15px;
}
code {
    color: #7A6E35;
}
.memSeparator {
    border-bottom-color: #E1DBBC;
}

/* `markdownTable` and `doxtable` should look like `fieldtable` */
table.markdownTable, table.doxtable {
    border-collapse: collapse;
    margin-top: inherit;
    margin-bottom: 10px;
    border: 1px solid #E1DBBC;
    border-spacing: 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}
table.markdownTable td, table.markdownTable th, table.doxtable td, table.doxtable th {
    border-color: #E1DBBC;
}
table.markdownTable tr:last-child td, table.doxtable tr:last-child td {
    border-bottom: none;
}
table.markdownTable th, table.doxtable th {
    background-image:url('nav_f.png');
    background-repeat:repeat-x;
    background-color: #F5F3E9;
    font-size: 90%;
    color: #7A6E35;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align:left;
    font-weight: 400;
    border-bottom: 1px solid #E1DBBC;
}
